Este notebook de ipython contiene diversos tipos de elementos (código, imágenes, videos, html, etc.) 
para poder indicar el modo de uso y ver cómo se transforman utilizando el "plugin" para jekyll.

## 1 - Código Markdown con diversidad de tags 
Con *italicas* y **negritas**, y listas

 * Uno

 * Dos

 * Tres

## 2 - Código Markdown con mathjax 
Variables en latex $\alpha$ y $\beta$. 

También se pueden insertar fórmulas
$$
F(b)-F(a) = \int_{a}^{b} f(x)\, dx \approx \sum_{k=1}^{N} \Delta x f(x_{k})
$$

## 3 - Código de python

In [1]:
# Sin output
a = 2
b = 3

In [2]:
# Con output correcto
print(a)
print(b)

2
3

## 6 - Audio importado
Trabajar con sonidos es sencillo. Simplemente se importa la clase Audio.

In [3]:
from IPython.display import Audio
Audio(url="http://www.nch.com.au/acm/8k16bitpcm.wav")

## 7 - Video importado
Para mostrar videos de youtube, es posible utilizar la clase respectiva.

In [4]:
from IPython.display import YouTubeVideo
# a talk about IPython at Sage Days at U. Washington, Seattle.
# Video credit: William Stein.
YouTubeVideo('1j_HxD4iLn8')

## 9 - HTML desde código

Python objects can declare HTML representations that will be displayed in the Notebook. If you have some HTML you want to display, simply use the `HTML` class.

In [5]:
from IPython.display import HTML

In [6]:
s = """<table>
<tr>
<th>Header 1</th>
<th>Header 2</th>
</tr>
<tr>
<td>row 1, cell 1</td>
<td>row 1, cell 2</td>
</tr>
<tr>
<td>row 2, cell 1</td>
<td>row 2, cell 2</td>
</tr>
</table>"""

In [7]:
h = HTML(s); h

## 10 - Pandas

Pandas makes use of this capability to allow `DataFrames` to be represented as HTML tables.

In [8]:
import pandas

Here is a small amount of stock data for APPL:

In [9]:
%%file data.csv
Date,Open,High,Low,Close,Volume,Adj Close
2012-06-01,569.16,590.00,548.50,584.00,14077000,581.50
2012-05-01,584.90,596.76,522.18,577.73,18827900,575.26
2012-04-02,601.83,644.00,555.00,583.98,28759100,581.48
2012-03-01,548.17,621.45,516.22,599.55,26486000,596.99
2012-02-01,458.41,547.61,453.98,542.44,22001000,540.12
2012-01-03,409.40,458.24,409.00,456.48,12949100,454.53

Writing data.csv

Read this as into a `DataFrame`:

In [10]:
df = pandas.read_csv('data.csv')
print(df)

         Date    Open    High     Low   Close    Volume  Adj Close
0  2012-06-01  569.16  590.00  548.50  584.00  14077000     581.50
1  2012-05-01  584.90  596.76  522.18  577.73  18827900     575.26
2  2012-04-02  601.83  644.00  555.00  583.98  28759100     581.48
3  2012-03-01  548.17  621.45  516.22  599.55  26486000     596.99
4  2012-02-01  458.41  547.61  453.98  542.44  22001000     540.12
5  2012-01-03  409.40  458.24  409.00  456.48  12949100     454.53

And view the HTML representation:

In [11]:
df

         Date    Open    High     Low   Close    Volume  Adj Close
0  2012-06-01  569.16  590.00  548.50  584.00  14077000     581.50
1  2012-05-01  584.90  596.76  522.18  577.73  18827900     575.26
2  2012-04-02  601.83  644.00  555.00  583.98  28759100     581.48
3  2012-03-01  548.17  621.45  516.22  599.55  26486000     596.99
4  2012-02-01  458.41  547.61  453.98  542.44  22001000     540.12
5  2012-01-03  409.40  458.24  409.00  456.48  12949100     454.53

## 11- Sitios externos

You can even embed an entire page from another site in an iframe; for example this is today's Wikipedia
page for mobile users:

In [12]:
from IPython.display import IFrame
IFrame('http://en.mobile.wikipedia.org/?useformat=mobile', width='100%', height=300)

## 12 - Error

In [13]:
# Con output de error
print(unknown_variable)

NameError: name 'unknown_variable' is not defined